In [2]:
import pandas as pd 
import numpy as np

data = {'open' : [100,101,102], 'high' : [200,201,202], 'low' : [300,301,302], 'close' : [400,401,402]}

df = pd.DataFrame(data)
df.head()

   open  high  low  close
0   100   200  300    400
1   101   201  301    401
2   102   202  302    402

In [3]:
print(df)

   open  high  low  close
0   100   200  300    400
1   101   201  301    401
2   102   202  302    402

In [4]:
df.shape

(3, 4)

In [5]:
df.columns

Index(['open', 'high', 'low', 'close'], dtype='object')

In [6]:
df.index = pd.date_range(start='2003-01-24', periods=len(df))
df

            open  high  low  close
2003-01-24   100   200  300    400
2003-01-25   101   201  301    401
2003-01-26   102   202  302    402

In [7]:
df['daily change'] = df['close'] - df['open']
df

            open  high  low  close  daily change
2003-01-24   100   200  300    400           300
2003-01-25   101   201  301    401           300
2003-01-26   102   202  302    402           300

In [8]:
df['precente change'] = df['daily change']*100/df['open']
df

            open  high  low  close  daily change  precente change
2003-01-24   100   200  300    400           300       300.000000
2003-01-25   101   201  301    401           300       297.029703
2003-01-26   102   202  302    402           300       294.117647

In [9]:
df[df['precente change']<300]

            open  high  low  close  daily change  precente change
2003-01-25   101   201  301    401           300       297.029703
2003-01-26   102   202  302    402           300       294.117647

In [10]:
df['cumulative'] = df['daily change'].cumsum()
df

            open  high  low  close  daily change  precente change  cumulative
2003-01-24   100   200  300    400           300       300.000000         300
2003-01-25   101   201  301    401           300       297.029703         600
2003-01-26   102   202  302    402           300       294.117647         900

In [11]:
df['pnl'] = [1000,2000,3000]
df

,open,high,low,close,daily change,precente change,cumulative,pnl
2003-01-24,100,200,300,400,300,300.000000,300,1000
2003-01-25,101,201,301,401,300,297.029703,600,2000
2003-01-26,102,202,302,402,300,294.117647,900,3000

In [12]:
df['total pnl'] = df['pnl'].cumsum()
df

,open,high,low,close,daily change,precente change,cumulative,pnl,total pnl
2003-01-24,100,200,300,400,300,300.000000,300,1000,1000
2003-01-25,101,201,301,401,300,297.029703,600,2000,3000
2003-01-26,102,202,302,402,300,294.117647,900,3000,6000

In [13]:
df['bullish'] = df['close'] > df['open']
df

,open,high,low,close,daily change,precente change,cumulative,pnl,total pnl,bullish
2003-01-24,100,200,300,400,300,300.000000,300,1000,1000,True
2003-01-25,101,201,301,401,300,297.029703,600,2000,3000,True
2003-01-26,102,202,302,402,300,294.117647,900,3000,6000,True

In [14]:
df['signal'] = np.where(df['close'] > 401, 'buy', 'nan')
df

,open,high,low,close,daily change,precente change,cumulative,pnl,total pnl,bullish,signal
2003-01-24,100,200,300,400,300,300.000000,300,1000,1000,True,nan
2003-01-25,101,201,301,401,300,297.029703,600,2000,3000,True,nan
2003-01-26,102,202,302,402,300,294.117647,900,3000,6000,True,buy

In [15]:
df.iloc[1,5]

np.float64(297.029702970297)

In [16]:
class Dummy:
    def __init__(self, df):
        self.dataFrame = df
        self.dataFrame['y'] = [10, 20, 30]
dummy = Dummy(df)
df

,open,high,low,close,daily change,precente change,cumulative,pnl,total pnl,bullish,signal,y
2003-01-24,100,200,300,400,300,300.000000,300,1000,1000,True,nan,10
2003-01-25,101,201,301,401,300,297.029703,600,2000,3000,True,nan,20
2003-01-26,102,202,302,402,300,294.117647,900,3000,6000,True,buy,30

In [20]:
df['symbol'] = ['AAPL', 'AAPL', 'MSFT']
df.groupby('symbol').groups

{'AAPL': [2003-01-24 00:00:00, 2003-01-25 00:00:00], 'MSFT': [2003-01-26 00:00:00]}